:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* custom properties mobile first */
  /*  --bgc-body:
  --col-body:
  -- */
}

* {
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Open Sans Variable', sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
  text-wrap: balance;
}

h2 {
  font-size: 2em;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  padding: 0;
}

/*  */

/* mobile first */

.header,
.main,
.footer {
  width: 90%;
  margin-inline: auto;
}

.header,
.footer,
h2 {
  text-align: center;
}

.header {
  margin-bottom: 3rem;
}

.nav {
  display: flex;
}

.nav__menu {
  display: flex;
  list-style: none;
}

.toggle-menu {
  display: none;
}

.obras,
.eventos,
.encargos {
  margin-top: 1.5rem;
}

.obras,
.obras__box,
.eventos,
.eventos__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.obra__img,
.evento__img {
  font-size: 0;
  box-shadow: 2px 2px 10px rgba(7, 6, 7, 0.75);
}

.obra__img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
}

.evento {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  height: 774px;
}

.evento__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 100%;
}

.evento__description,
.encargos__description {
  line-height: 1.5rem;
  text-wrap: pretty;
}

/* mobile menu */
@media screen and (width <=850px) {
  .nav {
    flex-direction: column-reverse;
  }

  .nav__menu {
    display: none;
    margin-block: 2.5rem;
  }

  .nav__menu-item {
    background-color: rgb(83, 81, 90);
    padding-block: .5rem;
    margin-bottom: 1px;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: auto;
    margin-block: 2.5rem;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    transition: all .5s;
  }

  .toggle-menu__bars {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all .5s;
    transform-origin: left;
  }

  /* active */
  .nav__menu--active {
    display: block;
  }

  .toggle-menu--active {
    margin-bottom: 0;
    transform: translateX(4px);
  }

  .toggle-menu--active :first-child {
    rotate: 45deg;
  }

  .toggle-menu--active :nth-child(2) {
    opacity: 0;
  }

  .toggle-menu--active :last-child {
    rotate: -45deg;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}