:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Open Sans Variable', sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Pacifico", cursive;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  padding: 0;
}

.header,
.main,
.footer {
  width: 90%;
  margin-inline: auto;
}

.header,
.footer,
h2 {
  text-align: center;
}

.nav {
  display: flex;
}

.nav__menu {
  display: flex;
  list-style: none;
}

.toggle-menu {
  display: none;
}


/* mobile menu */
@media screen and (width <=850px) {
  .nav {
    flex-direction: column-reverse;
  }

  .nav__menu {
    display: none;
    margin-block: 2.5rem;
  }

  .nav__menu-item {
    background-color: rgb(83, 81, 90);
    padding-block: .5rem;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: auto;
    margin-block: 1.5rem;
    width: 1.5rem;
    height: 1.25rem;
    cursor: pointer;
    transition: all .5s;
  }

  .toggle-menu__bars {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all .5s;
    transform-origin: left;
  }

  /* active */
  .nav__menu--active {
    display: block;
  }

  .toggle-menu--active {
    margin-bottom: 0;
    transform: translateX(4px);
  }

  .toggle-menu--active :first-child {
    rotate: 45deg;
  }

  .toggle-menu--active :nth-child(2) {
    opacity: 0;
  }

  .toggle-menu--active :last-child {
    rotate: -45deg;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}